

h1 {
  text-align: center;
}

header {

}

nav {
  font-size: 50px;
  float: left;
  bottom: 0;
  background-color: white;
  color: black;
  opacity: .8;
  padding: 15px;
  position: relative;
  bottom: 0;

}

a:visited {
  text-decoration: none;
  color:black
}

a:hover {
  text-decoration: none;
  color: black;
}

.App {
  text-align: center;
  font-family: 'Press Start 2P', monospace;
  background-image: linear-gradient(red, white);
  background-size: cover;

}

.poke-grid {
  
}